<section class="search">
  <form class="search__form" id="search-form">
    <input
      class="search__input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <div class="radio-wrap">
      <p>Infinite scroll</p>
      <label class="switch">
        <input
          type="radio"
          id="infinite-scroll"
          name="load-more"
          value="infinite-scroll"
          checked
        />
        <span class="slider"></span>
      </label>
      <label class="switch">
        <input
          type="radio"
          id="load-more-button"
          name="load-more"
          value="load-more-button"
        />
        <span class="slider"></span>
      </label>
      <p>Load More Button</p>
    </div>

    <button class="button search__button" type="submit">Search</button>
  </form>
</section>
